.card__container{
  margin: 1.4em;
  border: solid #AEAEAE ;
  border-radius: 0.4em;
  padding: 1em;
  max-width: 600px;
}

.card__header {
  margin-bottom: 20px;
}

h4 {
  font-family: 'Silkscreen', cursive;
}

.card__title-contianer {
  position: relative;
  text-align: center;
}

.card__titlebtn {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.card__body .select-group {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1.4em;
  padding-left: 0.4em;
}

.card__light {
  width: 48%;
}

.card__water {
  width: 48%;
}

.card__note-container {
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
  padding-left: 0.4em;
}

.card__note {
  width: 98%;
  align-self: center;
}

.card__footer {
  display: flex;
  justify-content: space-evenly;
}

button {
  background-color: #9cdcc7;
  border: solid #AEAEAE ;
  max-width: 10em;
  border-radius: 0.4em;
  padding: 0.4em 1em;
  cursor: pointer;
}

.card__cancelbtn {
  background-color: #F1F1F1;
}

.card__deletebtn {
  background-color: #F1A2AC;
}

.card__editbtn {
  background-color: #F1F1F1;
}

p {
  color: #343434;
}

input {
  border: solid #AEAEAE  0.1em;
  border-radius: 0.2em;
}

select {
  border: solid #AEAEAE  0.1em;
  border-radius: 0.2em;
}

textarea {
  border: solid #AEAEAE  0.1em;
  border-radius: 0.2em;
}